body
{
    background-color: aquamarine;
    background-image: url("images/-min.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    
}
 p{
    
    color: white;
    font-size: large;
    margin: 0;
   
}
div{
    position: absolute;
    bottom: 0;
    margin: 0;
    padding-left: 0;
    
}
h1{
    color: rgb(228, 224, 218);
    text-shadow: 4rem;

}

a{
    color: orange;
    margin: 12;
    padding: 3;
    
}